@model OLIVIEM.Viewmodel.RegisterViewmodel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@*verder gaan met de view koppelen met controllerx, u can do it my love*@