@model OLIVIEM.Viewmodel.Accountviewmodel
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <form asp-controller="Test" asp-action="Index">
        <input id="Text1" type="text" asp-for="Saldo" />


        <input id="Submit1" type="submit" value="submit" asp-controller="Test" asp-action="Index" />

    </form>




</body>
