@model OLIVIEM.Viewmodel.Productviewmodel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<body class="text-center">
    <form class="form-signin" asp-controller="Product" asp-action="">
       
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input type="submit" id="button-submit" placeholder="Registreer" onclick="registerMessage()" class="btn btn-lg btn-primary btn-block" />
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>

