@model OLIVIEM.Viewmodel.RegisterViewmodel
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log in alstublieft</h2>

<form asp-controller="Register" asp-action="Register">
<input id="Text1" asp-for="Username" />
<input id="Password1" asp-for="Password" />
<input type="submit" placeholder="Registreer" />
</form>

